<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SingUpAction</servlet-name>
        <servlet-class>com.Action.SingUpAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginAction</servlet-name>
        <servlet-class>com.Action.AdminLoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginAction</servlet-name>
        <servlet-class>com.Action.PatientLoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherBranchesAction</servlet-name>
        <servlet-class>com.Action.OtherBranchesAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRequests</servlet-name>
        <servlet-class>com.Action.Admin.PatientRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientStatus</servlet-name>
        <servlet-class>com.Action.Admin.PatientStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicines</servlet-name>
        <servlet-class>com.Action.Admin.AddMedicines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>com.Action.Admin.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHistory</servlet-name>
        <servlet-class>com.Action.Patient.PatientHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.Action.Patient.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicines</servlet-name>
        <servlet-class>com.Action.Patient.Medicines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableSlots</servlet-name>
        <servlet-class>com.Action.Patient.AvailableSlots</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInformation</servlet-name>
        <servlet-class>com.Action.Patient.StaffInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookApointment</servlet-name>
        <servlet-class>com.Action.Patient.BookApointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Action.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept</servlet-name>
        <servlet-class>com.Action.Admin.Accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.Action.Admin.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodInformation</servlet-name>
        <servlet-class>com.Action.Admin.AddBloodInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BloodInformation</servlet-name>
        <servlet-class>com.Action.BloodInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>com.Action.Admin.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff</servlet-name>
        <servlet-class>com.Action.Admin.Staff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingUpAction</servlet-name>
        <url-pattern>/SingUpAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginAction</servlet-name>
        <url-pattern>/AdminLoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginAction</servlet-name>
        <url-pattern>/PatientLoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherBranchesAction</servlet-name>
        <url-pattern>/OtherBranchesAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRequests</servlet-name>
        <url-pattern>/PatientRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientStatus</servlet-name>
        <url-pattern>/PatientStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicines</servlet-name>
        <url-pattern>/AddMedicines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHistory</servlet-name>
        <url-pattern>/PatientHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicines</servlet-name>
        <url-pattern>/Medicines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableSlots</servlet-name>
        <url-pattern>/AvailableSlots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInformation</servlet-name>
        <url-pattern>/StaffInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookApointment</servlet-name>
        <url-pattern>/BookApointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept</servlet-name>
        <url-pattern>/Accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBloodInformation</servlet-name>
        <url-pattern>/AddBloodInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BloodInformation</servlet-name>
        <url-pattern>/BloodInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
